
#hello{

    text-align: center;
    background-image: url("Hero-bg.png");
   
}
.zero{
   color: white;
   background-color: black;

}
.mono{
    padding: 20px 150px;
}
.a{text-align: center;}
.b{ padding: 5px 160px;
text-align: center;
}
#c{ text-align: right;

}
.c{
    padding: 0px 2px 0px 100px;
}
.d{
display: flex;
justify-content: space-between;
padding: 70px 240px;

}
.secend{
    display: flex;
    justify-content:space-between ;
    padding: 70px 240px;
}
.thirdbaner{

    display: flex;
    justify-content:space-between ;
    padding: 70px 240px; 
}


